* {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  a {
    color: #059344;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: #059344;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    background: #ffffff;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #00000065;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

.maquina-logo {
    max-width: 100%;
    height: 707px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.4;
  }



 main h2 {
    position: absolute;
    top: 45%;
    left:39%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
    padding: 8px;

  }

  .letras{
    position: relative;
    left: -7%;
    top: -400px;

  }

  .column {
    float: left;
    width: 16.33%;
    padding: 15px;
    text-align: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    top: -90px;
    left: 19%;
  }

  @media screen and (max-width:768px) {
    .column {
      width: 100%;
      left: 10px;
    }
    h2{
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
  }

  span{

    color: #059344;

  }

  h3{
    color: #059344;
  }



  .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 14px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
  }

  .button4{
    background-color: white; 
    color: green; 
    border: 2px solid black;
  } 
  
.button4:hover {
  background-color: #059344;
  color: white;
}

  .button1 {
    background-color: #059344; 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
  }
  
  .button1:hover {
    background-color: #059344;
    color: white;
  }
  
  .button2 {
    background-color: rgb(10, 10, 10); 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
  }
  
  .button2:hover {
    background-color: #059344;
    color: rgb(255, 255, 255);
  }

  .Logo-Grande {
    position: absolute;
    top: 26%;
    right: 16%;
  }

  footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #ffffff;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #059344;
}


.footer-h2{

  font-family: 'Montserrat', sans-serif;
  
}

div.gallery {
  margin: 10px;
  float: right;
  width: 35%;
  height: auto;
  position: block;
  flex-wrap: wrap;
}

div.gallery:hover {
  background-color: #059344;
  color: white;
  transition-duration: 0.8s;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 35px;
  text-align: center;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

div.desc:hover{
  background-color: #059344;
  width: 80%;
  margin-left: 10%;
}

.black-title{
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 28px;

}

.black-title2{
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
}

iframe{
  position: relative;
  top: 20px;
}

.peças-1{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* parte de categorias */

:root {
  --cor-fundo: rgb(34, 41, 37);
  --cor-hover: rgb(118, 180, 145);
}

.dp-menu ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.dp-menu ul {
  background-color: green;
  float: center !important;
}

.dp-menu ul li {
  display: inline !important;
  position: relative !important;
}

.dp-menu ul li a {
  color: white !important;
  text-decoration: none!important;
  display: inline-block !important;
  padding: 10px !important;
  transition: background .3s !important;
}

.dp-menu ul li a:hover {
  background-color: black !important;
}

/*sub menu*/
.dp-menu ul ul {
  display: none !important;
  left: 0 !important;
  position: absolute !important;
}

.dp-menu ul li:hover ul {
  display: block !important;
}

.dp-menu ul ul {
  float: center !important;
  width: 100% !important;
}

.dp-menu ul ul li a {
  display: block !important;
}

.estilo{
  background-color: green !important;
  height: 7em !important;
  position: block !important;
  float: center !important;
}
.estilo ul{
  margin: 0 !important;
  position: absolute !important;
  float: center !important;
  left: 31% !important;
  /* margin-right: -50% !important; */
  /* transform: translate(-50%, -50%) !important;  */

  /* top: 50% !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important; */
} 

@media only screen and (max-width: 600px) {
  .estilo {
    display: none;
  }
}